html {
    margin: 0;
    padding: 0;
    background-color: #3a3939;
  }
  
#body {
  margin: 0;
  padding: 0;
  width: 332px;
  font-family: sans-serif;
  font-size: 0.9em;
  color: white;
  text-align: center;
  padding-bottom: 15px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
}

.disconnected {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

label {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

input[type="text"] {
  display: block;
  box-sizing: border-box;
  height: fit-content;
  border: 2px solid #ddd;
  border-radius: 2px;
  outline-style: none;
  line-height: 20px;
  font-size: 1.2em;
  color: black;
}

input[type="text"]:focus {
  border-color: white;
}

input[type="text"], p, h2, h3 {
  display: block;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

.error {
  color: #c00;
}

.hidden {
  display: none;
}
  
button {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 11px 20px;
  font-size: 16px;
  cursor: pointer;
  border-color: #2196F3;
  color: dodgerblue
}
  
button:hover {
  background: #2196F3;
  color: white;
}
  
  
button:disabled {
  cursor: default;
  background-color: #6ca7bd;
  border-bottom: 3px solid #548294;
  color: #f7f7f7;
}
  
.spinner {
  margin-left: 8px;
}
.your-room {
  margin: 10px;
  background-color: white;
  border-radius: 29px;
  padding: 20px;
  color: black;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.letter-spacing-2px {
  letter-spacing: 2px;
}

.inline-img {
  display: inline-block;
  vertical-align: middle;
}


/* ------------------ */
/* CODE VIEWER MODAL */
/* ------------------ */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* ------------------ */
hr.solid {
  border-top: 3px solid black;
  border-color: black;
}

.disableCode {
  pointer-events: none;
  opacity: 0.5;
  background: #CCC;
}

.active-game-users-submitted {
  margin: 10px;
  position: relative;
  border-top: 1px solid white;
  padding-top: 5px;
}

/* Loading Spinners */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 3px;
  margin: 10px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.finished-member-entry {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: help;
}

.game-over-name-explain-points {
  cursor: help;
}

.submitted-info {
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
  color: white;
}

.submitted-info-metric {
  padding: 5px;
  display: inline-block;
}

.not-on-leetcode-text {
  display: block;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

#random-problem {
  margin-top: 15px;
}

.toggle-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top:45px;
}

.toggle-left {
  width: 50%;
  padding-top:45px;
}

.active-game-close-room {
  width: 50%;
  padding-top: 60px;
  float: right;
}

.leave-room-btn {
  width: 40%;
  float: right;
  margin-top: 60px;
  margin-left: 5%;
  margin-right: 5%;
}



/*https://www.w3schools.com/howto/howto_js_alert.asp*/
/* The alert message box */
#reminder {
  background: rgb(58, 57, 57);
  color: white;
  padding: 10px;
  border-radius: 10px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
/*------------*/